html{
  min-height: 100%;
}
*{
    box-sizing: border-box;
}
body{
        background: #B3FFAB;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB); 
        background: -moz-linear-gradient(to right, #12FFF7, #B3FFAB);
        background: -o-linear-gradient(to right, #12FFF7, #B3FFAB);/* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-family: 'Comfortaa', cursive;
        font-size: small;
} 
.circle{
    border-radius: 50%;
}
.logo{
    
    position: absolute;
    width: 50px;
    height: 48px;
    background-color: rgb(143, 140, 140);
    border-radius: 40% 35% 41% 41% / 45% 45% 75% 75%;

}

.logo::before{
    background-color:rgb(143, 140, 140);
    height:15px;
    width: 15px;
    content: "";
    position: absolute;
    margin: -19px 0 0 25px ;
    border-radius: 100px 0;
}
.logo::after{
    background-color: rgb(213, 162, 224);
    background-image: linear-gradient(#e0acf0,rgb(221, 141, 241),rgb(212, 123, 247));
    background-attachment: fixed;
    content: "";
    height: 25px;
    width:  30px;
    position: absolute;
    margin: 5px 0px 0px 40px;
    border-radius: 50%;
    }
    .back{
        height: 520px;
        width: 280px;
        margin-left: 300px;
        margin-top: -420px;
        float: left;
       }
    
.powerbtn{
    width: 5px;
    height: 60px;
    background-color: #a358d1;
    position: absolute;
    margin-top: 140px;
    margin-left: 0.5px;
    border-radius: 25%;
}
.volup{
    width: 5px;
    height: 35px;
    background-color: #a358d1; 
    position: absolute;
    margin-top: 135px;
    margin-left: 275px;
    border-radius: 30%;
}
.voldown{
    width: 5px;
    height: 35px;
    background-color: #a358d1;
    position: absolute;
    margin-top: 175px;
    margin-left: 275px;
    border-radius: 30%;
}
    
    
    .box-1{
        
        height: 500px;
        width: 270px;
        background-color: #e6bbf3;
        background-image: linear-gradient(#e0acf0,rgb(221, 141, 241),rgb(212, 123, 247)
        );
    
        background-attachment: fixed;
        margin: auto;
        border-radius: 30px;
        border: 5px solid #a358d1;
        box-shadow: 2px 3px 18px #837e86;
 }
 .box-2{
     height: 90px;
     width: 90px;
     background-color: #e0abf0;
     margin: 12px;
     box-shadow: 1px 3px 8px  #b87ddd;
     border-radius: 25px;
     border: 1px solid #b87ddd;
 }
 .box_camera_1{
    height: 30px;
    width: 30px;
    background-color: black;
    margin: 8px;
    box-shadow: 1px 3px 8px  #b87ddd;
    border-radius: 50px;
    border: 2px solid silver;
 }
 .box_camera_2{
    height: 30px;
    width: 30px;
    background-color: black;
    margin: 8px;
    box-shadow: 1px 3px 8px  #b87ddd;
    border-radius: 50px;
    border: 2px solid silver;
 }
 .box_camera_lens1{
    height: 15px;
    width: 15px;
    background-color: rgb(49, 4, 173);
    opacity: 0.4;
    margin: 7px;
    border-radius: 50px;
    filter: blur(2px);
     
 }
 .box_camera_lens2{
    height: 15px;
    width: 15px;
    background-color: rgb(49, 4, 173);
    opacity: 0.4;
    margin: 7px;
    border-radius: 50px;
    filter: blur(2px);
     
 }
 .camera{
    height: 8px;
    width: 8px;
    background-color: rgb(117, 114, 114);
    margin:   -70px 60px;
    box-shadow: 2px 2px 5px  #716f72;
    border-radius: 50px;


 }
 .cam{
    height: 8px;
    width: 8px;
    background-color: rgb(253, 252, 151);
    filter: blur(2px);
    box-shadow: 2px 2px 5px  #d8d1db;
    border: 2px solid rgb(235, 232, 107);
    border-radius: 50px;
    margin:  85px 56px;
    padding: 8px;

 }
 
 .box{
    height: 500px;
    width: 270px;
    background: #000;
    margin-top: 25px;
    margin-left: 300px;
    margin-bottom: 100px;
    border-radius: 30px;
    border: 5px solid #a358d1;
    box-shadow: 2px 3px 18px #837e86;
    float:left;
    


 }
 .box_1{
     height: 475px;
     width: 250px;
     background-color: white;
     border-radius: 22px;
     margin: 7px auto;
     
 }
   .row1{
       display:flex;
       
       justify-content: center;
       
       margin:auto;
       width: 100%;
       height: auto;
   }
   .time{

    margin-top: 4px;
    margin-right: 10px;
    font-family: sans-serif;
    font-size: small;
}


 .notch{
    height: 26px;
    width: 120px;
    background-color:black;
    border-radius: 30px;
    margin-top: -5px;
    
    }
  .notch_child{
      background-color: rgb(223, 221, 221);
      filter: blur(4px);
      opacity: 0.9;
      margin-top: 7px;
      margin-left: 40px;
      border-radius: 25px;
      box-shadow: 1px solid  rgb(241, 241, 241);

      height: 10px;
      width: 40px;

  }  
  
.icons >div{
    display:  inline-block;
    margin-top: 4px;
    
    height: auto;
    width:auto;
}

.display2{
    float:right;
    background-color: rgb(241, 241, 241);
    opacity: 0.6;
    width: 79px;
    height: 459px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 22px;
    margin-top: -459px;
    
    
}

.img1{
    margin-top: 50px;
    margin-left: 15px;
   

}
.img2{
    margin-top: 10px;
    margin-bottom: 60px;
    margin-left: 15px;
    
}
.img3{
    margin-left: 15px;
    margin-top: 12px ;
    margin-bottom: 20px;
  }
.img4{
    margin-left:15px;
    margin-bottom: 9px;
 }

.profile_pic{
    margin:auto;
}
#btn{
font-size: 15px;
}
