body {
    font-size: 48px;
    display: flex;
    background-color: rgb(246, 237, 226);
    color: rgb(42, 39, 51);
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}