body{
       width:80%;    height:350px;                      margin:100px auto;
      padding:5px;              background: #334d50;
       background: -webkit-linear-gradient(to left, #334d50, #cbcaa5) fixed;
      background: linear-gradient(to left, #334d50, #cbcaa5) fixed;
       background-repeat: no-repeat;

  }
  li{
      color:white;       box-shadow: 0px 0px 4px 1px purple;
  }

 .c{
     float:left;      list-style-type:none;              border-radius:30%;          cursor:pointer;
     border:3px;        padding:5px 20px;
     margin:1px 1px;      background-color:black;
      }
 li:hover {
	background-color:grey; 
        transform: scale(0.90); 
          box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
 }
 .unique{
     list-style-type:none;      border-radius:10%;         background-color:black;
     margin:1px 1px;                float:left;                padding:20px 14px;                cursor:pointer;
 }
 .secondTop{
     float:left;      list-style-type:none;              border-radius:30%;
     border:3px;      border:2px;                        padding:20px 24px;            cursor:pointer;
     margin:1px 1px 1px 1px;    background-color:black;    top:0px;
 }
  .thirdTop{
     float:left;      list-style-type:none;              border-radius:30%;             ;
     border:3px;      border:2px;                        padding:20px 24px;                cursor:pointer;
     margin:1px 1px 1px 1px;      background-color:black;     top:0;
  }
  .double {
  padding-top: 10px;
  padding-bottom: 10px;
  }
  .last {
      padding:10px 5px;
  }
.back{
    padding:10px 20px;   border-radius:15%
}
.mouse{  
     width: 250px; height: 150px;                           background-color:pink;padding:5px;
       border-radius:10%;                                       box-shadow: 3px 2px 8px 5px black;cursor:pointer;
}
.start{
      padding:5px;border:10px solid pink;        background: #fffc00;
        background: -webkit-linear-gradient(to left,#FFFF99, #ffffff, #ffff99);
       background: linear-gradient(to left,#FFFF99, #ffffff, #ffff99);        
      box-shadow: -20px -30px 20px  black;
}
