body{
    background-color: rgb(126, 160, 158);
    animation-name: bg;
    
}

textarea{
    color: brown;
    font-size: 1.6em;
    height: 5em;
    width:72%;
    margin-left: 13.8%;
    margin-right: auto;
    margin-top: 1em;
    border: 2px solid black;
    border-radius: 1em;
    text-align: left;
    resize: none;
    text-indent: 10px;
}
.container{
    
    width: 87em;
    height: 43em;
    background-color: black;
    border: 1px solid black;
    border-radius: 1.3em;
    margin: 3em auto;
}
.innerContainer{
    background-color: black;
    max-width: 98%;
    margin: 0.8em auto;
    border: 1px solid black;
    border-radius: 1em;
}
.row1, .row2, .row3, .row4, .row5, .row6{
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    margin: auto;
    width: 100%;
    border: 1px solid black;
    padding: 2px;
    height: auto;
}

.fn{
    width: 4em;
    height: 1.8em;
    color: rgb(126, 8, 194);
    margin-left: 1px;
    margin-right:1px;
    margin-top: 2px;
    background-color: black;
    border: 2px solid rgb(126, 8, 194);
    border-radius: 0.3em;
    cursor: all-scroll;
}
#diff{
    width: 3em;
}
.btn{
    width: 4em;
    height: 4em;
    color: rgb(126, 8, 194);
    margin-left: 1px;
    margin-right:1px;
    margin-top: 2px;
    background-color: black;
    border: 2px solid rgb(126, 8, 194);
    border-radius: 0.3em;
    padding: 5px 5px;
    cursor: all-scroll;
}
.fn:active{
    border: 2px solid rgb(67, 0, 105);
}
.fn:hover{
    background-color: rgb(29, 25, 25);
}
.btn:active{
    border: 2px solid rgb(67, 0, 105);
}
.btn:hover{
    background-color: rgb(29, 25, 25);
}
.btn.new{
    height: 2em;
}
.arrow{
    display: grid;
}
.touchPad {
    width: 20em;
    height: 13em;
    background-color: black;
    border: 1px solid rgb(126, 8, 194);
    border-radius: 10px;
    margin: auto;
    margin-top: 2em;
    
}
.tpButton{
    width: 100%;
    height: 100%;
    background-color: black;
    border: 2px solid rgb(126, 8, 194);
    border-radius: 10px;
    cursor: all-scroll;
}
.tpButton:active{
    border: 2px solid rgb(67, 0, 105);
}
.tpButton:hover{
    background-color: rgb(29, 25, 25);
}
